/*
 EOSPass Server style.css (c) 2019 EOS Geneva - All Rights Reserved
 Unauthorized copying of this file, via any medium is strictly prohibited
 Proprietary and confidential
*/

body{
	font-family: Arial,Helvetica,sans-serif;
	margin-top:0;
}

h1{
	margin-top:0;
	padding-top:20px;
	color: #5f5f5f;
}

button{
	background:    #ffffff;
	background:    -webkit-linear-gradient(#ffffff, #cccccc);
	background:    linear-gradient(#ffffff, #cccccc);
	border:        1px solid #cccccc;
	border-radius: 8px;
	box-shadow:    1px 1px #999999;
	width:         180px;
	height:        55px;
	color:         #000000;
	display:       inline-block;
	font:          normal 400 20px/55px "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   0px 0px #f3f3f3;
	cursor:        pointer;
}

.logoff{
	background-color: #fffefe;
}

.logon{
	background-color: #fcfffe;
}

.txtlogoff{
	color: #cc0000;
}

.txtlogon{
	color: #00bc62;
}
